@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --gray: #616161;
  --gray-light: hsl(0deg 0% 90%);
  --yellow: #ffcb05;
  --pokemon-black: #333935;
  --pokemon-blue: #4283b8;
  --pokemon-brown: #bc9982;
  --pokemon-gray: #919099;
  --pokemon-green: #5f8f67;
  --pokemon-pink: #f38bdc;
  --pokemon-purple: #8872aa;
  --pokemon-red: #fb6e6e;
  --pokemon-white: #dadce0;
  --pokemon-yellow: #f4d77c;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-size: 16px;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  width: inherit;
  height: 100%;
}

/*
===============
Header
===============
*/

.header {
  height: 50px;
}
.header .header_container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
}
.header .header_container .header_icons {
  display: flex;
  justify-content: space-between;
  width: 110px;
}
.header .header_container .header_icons .icon {
  color: var(--gray);
  width: 50px;
  height: 50px;
}
.icon:hover {
  background-color: var(--gray-light);
}

/*
===============
Search
===============
*/

.search {
  width: 100%;
  height: 300px;
  flex-direction: column;
}

.search_logo {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.search_logo .logo {
  width: 300px;
}
.search_logo .tag_line {
  line-height: 30px;
  color: var(--gray);
}

.search_bar {
  display: flex;
  width: 500px;
  background: #fff;
  box-shadow: 0 0 5px var(--gray);
  border-radius: 5px;
}
.search_bar .search_input {
  width: 500px;
  height: 40px;
  flex: 1;
  border: 0;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 1.0625rem;
  color: var(--gray);
  font: inherit;
}
.search_bar > * {
  background: transparent;
}
.search_input::placeholder {
  color: rgb(97, 97, 97, .5);
}
.search_button {
  width: 50px;
  height: 40px;
  color: var(--gray);
}
.search_button > svg {
  font-size: 1.5rem;
}
.search_loader {
  width: 50px;
  height: 40px;
}

/*
===============
Pokemon
===============
*/

.pokemon {
  display: grid;
  grid-row-gap: 30px;
  width: 900px;
  margin: 0 auto;
}
.pokemon_name {
  position: relative;
}
.pokemon_name .name_en {
  line-height: 80px;
  font-size: 4rem;
  text-transform: capitalize;
  text-shadow: 0 0 5px var(--gray);
}
.pokemon_id, .name_jp {
  position: absolute;
}
.pokemon_name .pokemon_id {
  color: var(--gray-light);
  font-size: 9rem;
  top: -30px;
  left: 50px;
  z-index: -1;
}
.pokemon_name .name_jp {
  font-size: 3rem;
  top: 55px;
  left: 150px;
  z-index: 1;
  text-shadow: 0 0 5px var(--gray);
}
.pokemon_details {
  display: flex;
}
.pokemon_data {
  flex: 0 120px;
  text-align: center;
}
.pokemon_data > div:not(:last-child) {
  margin-bottom: 10px;
 }
.pokemon_data h3 {
  color: var(--gray);
  font-size: 2rem;
}
.abilities ul {
  list-style: none;
}
.family h3 {
  margin-bottom: 5px;
}
.pokemon_ability {
  padding: 5px;
  box-sizing: border-box;
  text-transform: capitalize;
}
.evolution_chain {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.evolution {
  width: 100px;
  height: 100px;
}
.pokemon_image {
  width: 475px;
  height: 475px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  justify-content: center;
}
.pokemon_stats > div:not(:last-child) {
  margin-bottom: 10px;
}
.pokemon_stats {
  flex: 0 250px;
}
.pokemon_stats h3 {
  color: var(--gray);
  text-align: center;
  font-size: 1.4rem;
  line-height: 30px;
}
.pokemon_types {
  display: flex;
  justify-content: center;
}
.pokemon_type {
  padding: 5px;
  height: 30px;
}
.stats_list {
  list-style: none;
  font-size: 1.3rem;
}
.stats_list li {
  color: var(--gray);
  text-transform: capitalize;
}
.stats_list li:not(:last-child) {
  margin-bottom: 5px;
}
.stats_list .base_stat {
  color: var(--gray-light);
}
.measurements p {
  color: var(--gray);
}
.measurements p:not(:last-child) {
  margin-bottom: 5px;
}
.flavor_text {
  font-size: 1rem;
}

/*
===============
Not Found
===============
*/

.not_found {
  height: 300px;
  color: var(--gray);
}
.not_found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
.not_found-container .go_home {
  height: 50px;
  width: 90px;
}
.go_home:hover {
  background-color: var(--gray-light);
}

/*
===============
Common
===============
*/

.flex_ui {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon_color_black {
  color: var(--pokemon-black);
}
.pokemon_color_blue {
  color: var(--pokemon-blue);
}
.pokemon_color_brown {
  color: var(--pokemon-brown);
}
.pokemon_color_gray {
  color: var(--pokemon-gray);
}
.pokemon_color_green {
  color: var(--pokemon-green);
}
.pokemon_color_pink {
  color: var(--pokemon-pink);
}
.pokemon_color_purple {
  color: var(--pokemon-purple);
}
.pokemon_color_red {
  color: var(--pokemon-red);
}
.pokemon_color_white {
  color: var(--pokemon-white);
}
.pokemon_color_yellow {
  color: var(--pokemon-yellow);
}